

.hide{
    display: none;
}

.show{
    display: block;
    position: absolute;
    top: 24%;
    left: 20%;
    height: 65vh;
    width: 50vh;
    filter: hue-rotate(190deg);
}

.image-card {
    text-align: center; /* Center content */
  }
  
  .image-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-left: 90vh;
  }